@font-face {
    font-family: 'BigNoodleTitling';
    src: url('../fonts/BigNoodleTitling.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BigNoodleTitling.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/BigNoodleTitling.woff') format('woff'), /* Modern Browsers */
         url('../fonts/BigNoodleTitling.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/BigNoodleTitling.svg#BigNoodleTitling') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto-Italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Roboto-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto-Italic.svg#Roboto-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Roboto-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding: 0;
    background-color: #C0312B;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Home Page */
#home-obj {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    display: none;
}

#home-page {
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 350px;
    margin: 0 auto;
}

#home-title {
    width: 100%;
    max-width: 580px;
    height: 100%;
    font-size: 115px;
    font-family: 'BigNoodleTitling';
    color: #FFFFFF;
    float: left;
    border-right: #FFFFFF solid 1px;
    overflow: hidden;
}

#home-title > p {
    margin: 0;
    margin-top: 75px;
    margin-left: 10px;
}

#login-box {
    width: 100%;
    max-width: 310px;
    height: 100%;
    float: left;
    overflow: hidden;
}

#login-form {
    margin-left: 38px;
    position: relative;
}

#choice-action {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.input-txt {
    width: 100%;
    font-size: 28px;
    font-family: 'BigNoodleTitling';
    background-color: transparent;
    border: none;
    border-bottom: #FFFFFF solid 1px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

#forgot-link {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
}

#cancel-reset-pass {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
}

#btn-login {
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #C0312B;
    background-color: #FFFFFF;
    margin-top: 25px;
    border: none;
    border-radius: 25px;
    float: right;
    cursor: pointer;
}

#btn-register {
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #C0312B;
    background-color: #FFFFFF;
    margin-top: 25px;
    border: none;
    border-radius: 25px;
    float: right;
    cursor: pointer;
}

#btn-restore {
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #C0312B;
    background-color: #FFFFFF;
    margin-top: 25px;
    border: none;
    border-radius: 25px;
    float: right;
    cursor: pointer;
}

#form-login {
    width: 100%;
    position: absolute;
    display: block;
    opacity: 1;
}

#form-regis {
    width: 100%;
    position: absolute;
    display: none;
    opacity: 0;
    left: -100px;
}

#reset-pass-details {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0;
    display: none;
}

#form-restore {
    width: 100%;
    position: absolute;
    display: none;
    opacity: 0;
    left: -100px;
}

/* Home Page End */

/* Menu Page */
#menu-obj {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#top-section {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*display: absolute;*/
    display: none;
    background-color: #FFFFFF;
}

#top-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#top-box {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#top-title {
    width: 100%;
}

#top-title > p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    color: #C0312B;
    font-family: 'BigNoodleTitling';
}

#top-welcome {
    width: 100%;
    max-width: 300px;
    height: 100%;
    color: #C0312B;
    float: left;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
}

#top-details {
    width: 100%;
    max-width: 550px;
    height: 100%;
    color: #333333;
    float: right;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Roboto';
}

#bottom-section {
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: absolute;
    background-color: #d88a86;
}

#bottom-title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    color: #FFFFFF;
    font-family: 'BigNoodleTitling';
}

#bottom-title > p {
    margin-top: 0;
}